body {
  margin: 0;
  font-family: 'Sora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Sora', sans-serif;
}





.text-second{
  color: #858585;
}
.border-main{
  border-color: #ffc107 !important;
}
.foo-hover:hover{
  color: white !important;
}
.rounded-20{
  border-radius: 20px;
}
.box:hover{
  box-shadow: 5px 5px 15px #949494 !important;
  transition-duration: .2s;
}
